
#addForm
{
    margin-bottom: 50px;
}

.achievement
{
    white-space: nowrap; 
    overflow-x: hidden; 
    margin: 1px 0px 1px 0px; 
    border: solid 1px black; 
    border-radius: 25px; 
    background: var(--bars-color);
}

.non-active
{
    background: rgba(5, 5, 5, 0.5);
}

.close-btn
{
    position: absolute; 
    right: 5px; 
    top: 1px; 
    width: 2px; 
    height: 2px; 
    z-index: 100;
}

.edit-btn
{
    position: absolute; 
    right: 5%;
    bottom:45%; 
    width: 2px; 
    height: 2px; 
    z-index: 100;
}

.badge
{
    font-size: 35%;
}

#editAchievementBlock
{
    background-color: antiquewhite;
    z-index:1000;
    display:none ;
    border-radius: 25px;
    max-width: 20%;
    max-height: auto;
}