:root {
  /*--bars-color: #7386d5;
  --bars-darker-color: #6d7fcc;
  --borders-color: #000;*/
  --bars-color: #2FAFAF;
  --bars-darker-color: #107373;
  --borders-color: #3B8484;
  --top-offset: 60px;
}


#collapseButton {
  min-height: 100%;
  width: 40px;
  background: var(--bars-color);
  display: block;
  z-index: 997;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  border-right: 1px solid var(--borders-color);
}

#upButtonDiv {
  position: fixed;
  bottom: -40px;
  left: 0;
  width: 39px;
  height: 40px;
  z-index: 9999;
  background: var(--bars-color);
  transition: all 0.3s;
}

#upButtonDiv.active {
  bottom: 0;
}

#fillerDiv {
  position: fixed;
  bottom: -60px;
  left: 0;
  width: 40px;
  border-right: 1px solid var(--borders-color);
  background: var(--bars-color);
  min-height: 100%;
  z-index: 1;
}

#fillerDiv.active {
  bottom: 0;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  position: absolute;
  top: var(--top-offset);
  left: -250px;
  height: 100vh;
  background: var(--bars-color);
  color: #FFF;
  transition: all 0.3s;
  z-index: 999;
}
#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  background: var(--bars-color);
  text-align: center;
  cursor: pointer;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
}
#dismiss:hover {
  background: #fff;
  color: var(--bars-color);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--bars-color);
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: var(--bars-color);
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: var(--bars-darker-color);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: var(--bars-darker-color);
}

a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

body {
  background: #EAEAEA;
}
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#content {
  padding: 20px;
  min-height: 100vh;
  width: 97%;
  transition: all 0.3s;
  position: absolute;
  top: var(--top-offset);
  left: 3%;
  background: #FFF;
}

#upperLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-offset);
  background-color: var(--bars-color);
  border-bottom: 1px solid var(--borders-color);
  z-index: 0;
}

#header
{
  position: absolute;
  top: 0px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  z-index: 100;
  width: 100%;
}

.btn-primary
{
  background: #107373;
  border-color: #107373
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
  background: #3B8484;
  border-color: #3B8484;
}

#logoImg
{
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}
