#taskCreateBlock
{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    z-index:1000;
    border-radius: 25px;
    max-width: 20%;
    min-width: 200px;
    padding: 10px;
}

#addGroupBlock
{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    z-index:1000;
    border-radius: 25px;
    max-width: 20%;
    min-width: 200px;
    padding: 10px;
}

.alertText
{
    color: red;
    font-size: 14px;
    display:none;
}

.fullNameCell
{
    cursor: pointer;
}

.fullNameCell:hover
{
    text-decoration: underline;
    text-decoration-color: var(--bars-color);
}

.disciplineNameCell
{
    cursor: pointer;
}

.disciplineNameCell:hover
{
    text-decoration: underline;
    text-decoration-color: var(--bars-color);
}

#tooltip {
  z-index: 9999;
  position: absolute;
  display: none;
  top:0px;
  left:0px;
  background-color: #000;
  padding: 5px 10px 5px 10px;
  color: white;
  opacity: 0.5;
}

.cell-active
{
    background: var(--bars-color);
}

#studentAchievementsBar
{
    overflow: auto;
    max-height: 140px;
}

.not-moved-bar
{
    position: relative;
    width: 100%;
    background: #FFF;
    
}

.moved-bar
{
    position: fixed;
    top: 0;
    left: 40px;
    width: 100%;
    background: var(--bars-color);
    border-bottom: 1px solid #3B8484;
    z-index:1000;
}

.achievement_0
{
    background: #838383;
}

.achievement_1
{
    background: #ADE0E0;
}

.achievement_2
{
    background: #2BB1B1;
}

.knowledgeMarkInput
{
    width: 40px;
}

#markTable th, #markTable td
{
    vertical-align: middle !important;
    position: relative;
}

#markTableDiv 
{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.edit-mark-btn
{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1.25em;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    background-color: transparent !important;
    border: 0;
}

#editMarkBlock
{
    background-color: antiquewhite;
    z-index:1000;
    display: none;
    border-radius: 25px;
    max-width: 100px;
    max-height: auto;
}
