    <div class="row">
            {% for achievement in AchievementsList %}
            <div class="container-fluid col-4 achievement">
                <div class="close-btn">
                    <button type="btn" class="close" aria-label="Close" onclick="deleteAchievement({{achievement.id}})">
                        <span aria-hidden="true"><a>&times;</a></span>
                    </button>
                </div>
                <div class="edit-btn">
                    <button type="btn" class="close" aria-label="Edit"
                        onclick="edit_achievement(this,{{achievement.id}},'{{achievement.name}}', '{{achievement.description}}', '{{achievement.image_path.url}}')">
                        <span aria-hidden="true" class="badge badge-warning">&#9998;</span>
                    </button>
                </div>
                <div class="row">
                    <img src="{{achievement.image_path.url}}" , class="img rounded-circle" alt="Responsive image">
                    <div class="column col-4">
                        <div class="col-4">{{achievement.name}}</div>
                        <div class="col-6 offset-2"><small>{{achievement.description}}</small></div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>