{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%}
<title>Достижения</title>
{% endblock %}
{% block styles%}
<link rel="stylesheet" href="/static/css/achievements.css" />
{% endblock %}

{% block header %}Достижения{% endblock %}

{% block content %}
<div>
    <form id="addForm" method="POST" enctype="multipart/form-data">
        {{ formAppend|crispy }}
        {% csrf_token %}
        <button id="btnform" type="submit" name="btnform" class="btn btn-primary">Submit</button>
    </form>
    <div id="achievementsList">
        {% include 'achievementsList.html' %}
    </div>
</div>
</div>
<div id="editAchievementBlock" class="container">
    <form id="editForm" name="editForm" class="" method="post" enctype="multipart/form-data">
        {{ formEdit|crispy }}
        {% csrf_token %}
        <button type="submit" id="btnformedit" name="btnformedit" class="btn btn-primary">Изменить</button>
    </form>
    <div class="close-btn">
        <button id="close_edit_achievement_block_button" type="btn" class="close" aria-label="Close"
            onclick="close_edit_achievement_block()">
            <span aria-hidden="true"><a>&times;</a></span>
        </button>
    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/achievements.js"></script>
{% endblock %}