{% extends "base.html" %} {% block styles%} {% endblock %} {% block title %}
<title>Группа {{ groupName }}</title> {% endblock %}
{% block header %}Группа {{ groupName }}{% endblock %}
{% block content %}
<h1>Редактировать группу {{ groupName }}</h1>
<form method="post">
  <div class="form-group">
    <label for="full_name">ФИО студента</label>
    <input type="text" class="form-control" id="full_name" name="full_name" placeholder="ФИО" />
  </div>
  <button type="submit" class="btn btn-primary" id="addStudentButton" name="addStudentButton" value="addStudent">
    Добавить студента
  </button>
  {%csrf_token%}
</form>
<table id='id_students_table' class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Удалить студента</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ student.full_name }}</td>
      <td>
        <button type="button" class="btn btn-danger" name="deleteStudentBtn{{ forloop.counter }}"
          id="{{ forloop.counter }}" onclick="deleteStudent({{ student.id }})" value="deleteStudent">
          Удалить студента
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts%}
<script src="/static/js/editGroup.js"></script>
{% endblock %}