{% extends "base.html" %} {% block title%}
{% load crispy_forms_tags %}
<title>Группы</title>
{% endblock %}
{% block styles%} {% endblock %}
{% block header %}Группы{% endblock %}
{% block content %}
<h1>Список групп</h1>
<table id='id_group_table' class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Номер группы</th>
      <th scope="col">Удалить группу</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td name='group_name'><a href="editGroup/{{ group.slug }}">{{ group.name }}</a></td>
      <td>
        <button type="button" class="btn btn-danger" name="deleteBtn" value="deleteGroup"
          onclick="deleteGroup('{{ group.slug }}')">
          Удалить группу
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form method="POST">
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary" name="addGroupBtn" id="submit" value="addGroup">
    Добавить группу
  </button>
  {%csrf_token%}
</form>

{% endblock %} {% block scripts%}
<script src="/static/js/groupList.js"></script>
{% endblock %}