{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title%}
<title>Таблица</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/achievements.css?ver2" />
<link rel="stylesheet" href="/static/css/mainTable.css?ver9" />
{% endblock %}
{% block header %}Таблица{% endblock %}
{% block content %}
<div id="studentAchievementsBar" class="container-fluid row">
    {% for achievement in achievements %}
    <div class="container-fluid col-2 achievement achievement_0">
        <div class="row">
            <img src="{{achievement.image_path.url}}" , class="img rounded-circle" alt="Responsive image">
            <div class="col-4">{{achievement.name}}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container-fluid row">
<div id="markTableDiv" class="container-fluid col-10">
</div>

<div id="disciplines" class="col-2">
    {% include 'subjectsTable.html'%}
</div>
</div>
<div id="tmp" style="display: none;">
    <h5>Задания</h5>
    {% for task in tasks %}
    <p>Задание: {{ task.name }}</p>
    <p>Дедлайн: {{ task.deadline }}</p>
    <hr>
    {% endfor %}

    <h5>Ачивки</h5>
    {% for achievement in achievements %}
    <p>Ачивка: {{ achievement.achievement_id }}</p>
    <p>Студент: {{ achievement.student_id }}</p>
    <p>Статус: {{ achievement.status}}</p>
    <hr>
    {% endfor %}

    <h5>Оценки</h5>
    {% for mark in marks %}
    <p>Задание: {{ mark.task }}</p>
    <p>Студент: {{ mark.student_id }}</p>
    <p>Оценка: {{ mark.mark}}</p>
    <p>Коммент: {{ mark.comment}}</p>
    <hr>
    {% endfor %}

    <small>Тут короче поля task и student надо скрыть,
        и с помощью js или jquery получать их idшники по нажатию, и вносить в эти скрытые поля через аттрибут
        value</small>
    <small>Введешь id которых нет, будет ошибка скорее всего, потому, что я валидацию по этому критерию не делал,
        но если делать программно а не ручками такой ситуации произайти, скорее всего, не может</small>
    <form method="post">
        {{ markForm|crispy }}
        {% csrf_token %}
        <button id="markSubmitButton" type="submit" name="markSubmitButton" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- этот див чтобы контент закрыть -->
</div>
<!-- а то положения у taskCreateBlock не будет нормальным -->
<!-- подсказка -->
<div id="tooltip"></div>

<div id="editMarkBlock" class="container">
    <input id="editDMarkInput" type="number" min="1" max="5">
    <div class="close-btn">
        <button id="close_edit_mark_btn" type="btn" class="close" aria-label="Close"
            onclick="close_block(this)">
            <span aria-hidden="true"><a>&times;</a></span>
        </button>
    </div>
</div>

<div id="taskCreateBlock" class="container">
    <form id="taskCreateForm" method="post">
        {{ taskForm|crispy }}
        {% csrf_token %}
        <button id="taskSubmitButton" type="submit" name="taskSubmitButton" class="btn btn-primary">Submit</button>
    </form>
    <div class="close-btn">
        <button id="close_create_task_btn" type="btn" class="close" aria-label="Close"
            onclick="close_block(this)">
            <span aria-hidden="true"><a>&times;</a></span>
        </button>
    </div>
</div>

<div id="addGroupBlock" class="container">
    <button id="close_add_group_btn" type="btn" class="close"
            aria-label="Close" onclick="close_block(this)">
        <span aria-hidden="true"><a>&times;</a></span>
    </button>
    <p class='alertText' id="group_adding_error"> Все группы уже подключены </p>
    <form id="addGroupForm" method="post">
        {% csrf_token %}
        <button id="addGroupSubmitButton" type="submit" name="addGroupSubmitButton" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}



{% block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/mainTable.js?ver7"></script>
{% endblock %}