{% for achievement in studentAchievements %}
<div class="container-fluid col-2 achievement achievement_{{ achievement.status }}"
    onclick="changeStatus({{ achievement.student_id.id }}, {{ achievement.achievement_id.id }})">
    <div class="row">
        <img src="{{achievement.achievement_id.image_path.url}}" , class="img rounded-circle" alt="Responsive image">
        <div class="col-8">{{achievement.achievement_id.name}}
        <span style="font-size: 8pt;">
            {% if achievement.status == 1%}
                Заслужил
            {% elif achievement.status == 2 %}
                Получено
            {% endif %}
        </span>
    </div>
    </div>
</div>
{% endfor %}