{% load crispy_forms_tags %}
<table id="disciplineTable" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
        </tr>
    </thead>
    <tbody>
        {% for discipline in disciplines %}
        <tr id="{{ discipline.id }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td scope="row" id="discipline_{{ discipline.id }}" class="disciplineNameCell"
                data-discipline="{{ discipline.id }}">
                {{ discipline.name }}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <button id="newDisciplineBtn" class="btn btn-primary" onclick="addDiscipline(this)">+</button>
            </td>
            <td>
                <form id="disciplineCreateForm" method="post">
                    {{ disciplineForm|crispy }}
                    {% csrf_token %}
                    <button id="disciplineSubmitButton" type="submit" name="disciplineSubmitButton"
                        class="btn btn-primary" hidden>Submit</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>