<table id="markTable" class="table table-bordered">
    <thead>
        <tr>
            <th rowspan="2" scope="col">#</th>
            <th rowspan="2" scope="col">ФИО</th>
            <th rowspan="2" scope="col">Группа
                <button id="addGroup" type="btn" class="btn btn-primary add-group-btn"
                        data-discipline="{{ discipline_id }}">
                        <span aria-hidden="true">Добавить группу</span>
                </button>
            </th>
            {% for task in tasks %}
            <th colspan="2" scope="col" class="taskHeader" data-name="{{ task.name }}"
                data-deadline="{{ task.deadline }}">
                Задание {{ forloop.counter }} 
                <button data-task_id="{{ task.id }}" class="btn btn-primary" onclick='deleteTask({{ task.id }})'>X</button>
            </th>
            {% endfor %}
            <th rowspan="2" scope="col"><button id="newTaskBtn" class="btn btn-primary"
                    onclick="addTask(this)">+</button></th>
            <th rowspan="1" colspan="2" scope="col">Средние</th>
            <th rowspan="2" scope="col">Автомат</th>
        </tr>
        <tr>
            {% for task in tasks %}
            <th>Дедлайн</th>
            <th>Знания</th>
            {% endfor %}
            <th>Дедлайны</th>
            <th>Знания</th>
        </tr>
    </thead>
    <tbody>
        {% for student, studentMarks in studentsMarks.items %}
        <tr id="student_{{ student.id }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td data-student="{{ student.id }}" id="{{ student.id }}" class="fullNameCell">{{ student.full_name }}</td>
            <td>{{ student.group.name }}</td>
            {% for mark in studentMarks %}
            {% if mark in tasks %}
            {% with  curTask=mark.id %}
            <td class="markCell" id="dlMark_{{ curTask }}_{{ student.id }}" data-cell_task="{{ curTask }}"
                data-cell_student="{{ student.id }}" data-type="deadline">
            </td>
            <td class="markCell" id="knMark_{{ curTask }}_{{ student.id }}" data-cell_task="{{ curTask }}"
                data-cell_student="{{ student.id }}" data-type="knowledge">
            </td>
            {% endwith %}
            {% elif mark in marks %}
            {% with  curTask=mark.task.id %}
            <td class="markCell" id="dlMark_{{ curTask }}_{{ student.id }}" data-cell_task="{{ curTask }}"
                data-cell_student="{{ student.id }}" data-type="deadline">
                <span id="span_{{ curTask }}_{{ student.id }}">
                    {{ mark.deadline_mark }}
                </span>
                <div class="edit-mark-div">
                    <button type="btn" class="edit-mark-btn" aria-label="Edit" onclick="openChangeBlock(event)"
                        data-btn_task="{{ curTask }}" data-btn_student="{{ student.id }}">
                        <span aria-hidden="true">&#9998;</span>
                    </button>
                </div>
            </td>
            {% if mark.knowledge_mark %}
            <td id="knMark_{{ curTask }}_{{ student.id }}" data-cell_task="{{ curTask }}"
                data-cell_student="{{ student.id }}" data-type="knowledge">
                <span id="span_{{ curTask }}_{{ student.id }}">
                    {{ mark.knowledge_mark }}
                </span>
                <div class="edit-mark-div">
                    <button type="btn" class="edit-mark-btn" aria-label="Edit" onclick="openChangeBlock(event)"
                        data-btn_task="{{ curTask }}" data-btn_student="{{ student.id }}">
                        <span aria-hidden="true">&#9998;</span>
                    </button>
                </div>
            </td>
            {% else %}
            <td id="knMark_{{ curTask }}_{{ student.id }}" data-cell_task="{{ curTask }}"
                data-cell_student="{{ student.id }}" data-type="knowledge">
                <input class="knowledgeMarkInput" id="input_{{ curTask }}_{{ student.id }}"
                    data-input_task="{{ curTask }}" data-input_student="{{ student.id }}" type="number" min="1" max="5"
                    onkeydown="setKnowledgeMark(event)">
            </td>
            {% endif %}
            {% endwith %}
            {% else %}
                <td class="addTaskCell"></td>

                <td class="dlAvgCell" id="dlAvgCell_{{ student.id }}">{{ mark.0 }}</td>
                <td class="knAvgCell" id="knAvgCell_{{ student.id }}">{{ mark.1 }}</td>
                <td class="autoPassCell" id="autoPass_{{ student.id }}"></td>

            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>